<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">

  
</head>
<body>
    <div class="img">  
           
    </div>

    <div class="loginbox">
        <img src="Images/avatar.png" class="avatar">

        <h1>Login Here</h1>
        <p>Username</p>
        <form action="/login" method="POST">
        <input name="user" type="name" placeholder="Enter Username">
        <p>Password</p>
        <input name="pass" type="password" placeholder="Enter Password"><br><br>
           <input type="submit" value="Register" id="submit" > 
        </form>

        <a href="#">Forgot password?</a> <br>
        <a href="#">Sign-up</a>
    </div>   
    
</body>
</html>