<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/order.css">
</head>


<body>
    {{>nav}}
    <div class="image">
        <p></p>
       

    </div>
    <div class="section1">
        <div class="images">
            <div class="img1" id="item1">
<img src="">

            </div>
            <div class="img1" id="item2"></div>
            <div class="img1" id="item3"></div>
            <div class="img1" id="item4"></div>
            <!-- <div class="img1"></div> -->
        </div>

    </div>
    <div class="cart">
        <div class="title"><p class="color">CART</p>
       
        <div id="title"></div>
        <button onclick="submit()" id="btn" class="white">submit</button>
    </div>

    </div>


<script src="js/order.js"></script>
    
    
</body>
</html>